<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Products</title>
</head>
<body>
    <p align="center"><font size=7 color="red" ><b>RETAILERS RECORDS TABLE</b></font></p><br>
    <div class="container">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>sl no.</th>
                <th>product name</th>
                <th>product SKU</th>
                <th>quantity bought</th>
                <th>date</th>
              </tr>
            </thead>
            <tbody>
                {% for data in form %}
                {%csrf_token%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.p_name}}</td>
                    <td>{{data.p_sku}}</td>
                    <td>{{data.p_quantity}}</td>
                    <td>{{data.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
    <button><a href="logout">Log out</a></button>
</body>
</html>